* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #profile_pic {
    width: 300px;
} */

.Salameh {
     display: flex;
     justify-content:space-evenly;
     flex-direction: row;
    background: url('./image/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products-plain-studio-background.jpg');

    /* display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(1 , 1fr); */
}

#profile_pic {
    width: 500px;
    height: 500px;
    margin :15% 3% 25% 5%;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 5px 9px 13px rgb(54, 78, 104);
    
}

#info_user {
         margin-top: 2%;

margin-left: 2%;
text-align: start;
display: flex;
flex-direction: column;
background-color: rgb(41, 67, 117);
width: 500px;
height:630px;
/* margin:20% 20% ; */
border: 2px solid;
border-radius: 2%;
padding-left: 2%;
padding-top: 2%;
box-shadow: 5px 9px 13px rgb(54, 78, 104);


}

.edit_info {
    background-color: rgb(114, 135, 175);
    border-radius: 5%;
    width: 400px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: medium;
}

label {
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#save_edit{
     margin-left: 35%;
     margin-top: 5%;
     width: 100px;
     height: 40px;
     border:2px solid ;
     border-radius: 15%;
     font-size: larger;
     margin-bottom:5%;
     color :rgb(15, 13, 13);
}

#save_edit:hover {
    scale: 1.1;
    transition: 0.5s;
    background-color: rgb(57, 94, 126);
    letter-spacing: 1;
    color: white;
}

#input_desc
{   padding: 1%;
    resize:none;
    height: 80px;
    font-size:medium;
}

.buttonICON
{
        font-size: large;
color: rgb(51, 96, 132);
border-radius: 10%;
padding: 2px;
}

.buttonICON:hover
{
       color: rgb(8, 25, 45);
       scale: 1.4;
       transition: 0.5s;
}

